<!--
  Generated template for the PersonalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Personal</ion-title>

    <ion-buttons end>
      <button ion-button clear icon-only class="info" (click)="infoButtonClick()">
          <ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>
    </button>
    </ion-buttons>


  </ion-navbar>

</ion-header>


<ion-content>
  Recommended Stops
  <div *ngIf="closestStops.length === 0">
    Loading...
  </div>
  <ion-list *ngIf="closestStops">
    <div *ngFor="let stop of closestStops">
      <!-- {{stop.stop.name}} {{stop.distance}} miles -->
      <button ion-item (click)="itemTapped($event, stop.stop)">
        {{stop.stop.name}}
      </button>
    </div>
  </ion-list>
  Favorites
  <ion-list>
    <div *ngFor="let stop of stops | async">
      <button ion-item *ngIf="favStops != null && favStops.includes(stop.name)" (click)="itemTapped($event, stop)">
        {{stop.name}}
      </button>
    </div>
  </ion-list>
</ion-content>
