page-stop-details {

    .time-display {
      align-items: center;
    }

    .time-display h1 {
      font-size: 3em;
      padding-top: 20px;
    }

    .bus-line {
      float: left;
    }

    .bus-time {
      float: right;
    }

    .button {
      background-color: Transparent;
      border: none;
      color: black;
    }

    .googleMapPin{
      color: #E8212D;
    }
}
