page-stop-details {
    .tapPageModal {
        height: 92%;
    }
    .tabBarModalCover {
        height: 8%;
    }
    .modalFiller {
        height: 50%;
        background-color: black;
        opacity: 0.5;
    }
    .modalContent {
        height: 50%;
        background-color: white;
    }
}
