page-stop-details {
    .tapPageModal {

    }
    .tabBarModalCover {

    }
    
    .modalContent {

        background-color: white;
    }

    .time-display {

      align-items: center;
    }

    .alignLeft {
      float: left;



    }

    .alignRight {
      float: right;
    }

    .alignCenter {
      align-items: center;
    }

    .serviceNotes {



    }

    .rightIcon {
      text-align: right;
    }


    .button {
      background-color: Transparent;
      border: none;
      color: black;
    }
}
